<div flex="80" fxLayout="column" fxLayoutGap="40px">
    <!-- <mat-grid-list cols="5" rowHeight="250px"> -->
        <div flex fxLayout="row" class="cardRow">
            <mat-card >
                <mat-card-header>
                    <img mat-card-avatar src="assets/uk-flag.jpg">
                    <mat-card-title>Study In UK</mat-card-title>
                </mat-card-header>
                <img class="countryImg" mat-card-image src="assets/uk.jpg">
                <mat-card-content>
                    <ul class="abroadList">
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/UK/" title="UK Education Guide">UK Education Guide</a></li>
                        <li><a href="http://www.studyguideindia.com/Foreign-Universities/United-Kingdom.asp" title="UK Universities">UK - Universities</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/UK/Coming-to-UK.asp" title="UK - Travel Guide">UK - Travel Guide</a></li>
                        <li><a href="http://www.studyguideindia.com/b-schools/business-schools-uk.asp" title="Business Schools in UK">Business Schools in UK</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/education-consultants-uk.asp" title="Education Consultants United Kingdom">Education Consultants United Kingdom</a></li>
                    </ul>
                </mat-card-content>
            </mat-card>
            <mat-card >
                <mat-card-header>
                    <img mat-card-avatar src="assets/usa-flag.jpg">
                    <mat-card-title>Study In USA</mat-card-title>
                </mat-card-header>
                <img class="countryImg" mat-card-image src="assets/usa.jpg">
                <mat-card-content>
                    <ul class="abroadList">
                            <li><a href="http://www.studyguideindia.com/Study-Abroad/USA/" title="USA Education Guide">USA Education Guide </a></li>
                            <li><a href="http://www.studyguideindia.com/Study-Abroad/USA/Coming-to-USA.asp" title="USA - Travel Guide">USA - Travel Guide</a></li>
                            <li><a href="http://www.studyguideindia.com/Foreign-Universities/United-States.asp" title="USA - Universities">US - Universities </a></li>
                            <li><a href="http://www.studyguideindia.com/b-schools/business-schools-usa.asp" title="Business Schools in USA">Business Schools in USA</a><a href="http://www.studyguideindia.com/Foreign-Universities/United-States.asp" title="USA - Universities"></a></li>
                            <li><a href="http://www.studyguideindia.com/Study-Abroad/education-consultants-usa.asp" title="Education Consultants United States">Education Consultants United States</a></li>
                    </ul>
                </mat-card-content>
            </mat-card>
            <mat-card >
                <mat-card-header>
                    <img mat-card-avatar src="assets/Australia-flag.jpg">
                    <mat-card-title>Study In Australia</mat-card-title>
                </mat-card-header>
                <img class="countryImg" mat-card-image src="assets/Australia.jpg">
                <mat-card-content>
                    <ul class="abroadList">
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/Australia/" title=" Australia Education Guide ">Australia Education Guide </a></li>
                        <li><a href="http://www.studyguideindia.com/Foreign-Universities/Australia.asp" title="Australian Universities">Australian Universities</a></li>
                        <li><a href="http://www.studyguideindia.com/b-schools/business-schools-australia.asp" title="Business Schools in Australia">Business Schools in Australia</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/education-consultants-australia.asp" title="Education Consultants Australia">Education Consultants Australia</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/bachelors-programs-in-australia.asp" title="Bachelor's Programs in Australia">Bachelor's Programs in Australia</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/master-degree-programs-in-australia.asp" title="Master degree programs in Australia">Master degree programs in Australia</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/phd-programs-in-australia.asp" title="Phd programs in Australia">Phd programs in Australia</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/college-admission-procedures-in-australia.asp" title="College Admission Procedures in Australia">College Admission Procedures in Australia</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/education-system-in-australia.asp" title="Education System in Australia">Education System in Australia</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/internship-programs-in-australia.asp" title="Internship Programs in Australia">Internship Programs in Australia</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/student-visa-details-for-australia.asp" title="Student Visa Details for Australia">Student Visa Details for Australia</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/study-expenses-financial-aid-in-australia.asp" title="Study Expenses &amp; Financial Aid in Australia">Study Expenses &amp; Financial Aid in Australia</a></li> 
                    </ul>
                </mat-card-content>
            </mat-card>
            <mat-card >
                <mat-card-header>
                    <img mat-card-avatar src="assets/New-Zealand-flag.jpg">
                    <mat-card-title>Study In New zealand</mat-card-title>
                </mat-card-header>
                <img class="countryImg" mat-card-image src="assets/New-Zealand.jpg">
                <mat-card-content>
                    <ul class="abroadList">
                        <li><a href="http://www.studyguideindia.com/Foreign-Universities/New-zealand.asp" title="New Zealand Universities">New Zealand Universities</a></li>
                        <li><a href="http://www.studyguideindia.com/b-schools/business-schools-new-zealand.asp" title="Business Schools New Zealand">Business Schools New Zealand</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/education-consultants-new-zealand.asp" title="Education Consultants New Zealand">Education Consultants New Zealand</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/bachelors-programs-in-new-zealand.asp" title="Bachelor's Programs in New Zealand">Bachelor's Programs in New Zealand</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/master-degree-programs-in-new-zealand.asp" title="Master degree programs in New Zealand">Master degree programs in New Zealand</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/phd-programs-in-new-zealand.asp" title="Phd programs in New Zealand">Phd programs in New Zealand</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/college-admission-procedures-in-new-zealand.asp" title="College Admission Procedures in New Zealand">College Admission Procedures in New Zealand</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/education-system-in-new-zealand.asp" title="Education System in New Zealand">Education System in New Zealand</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/internship-programs-in-new-zealand.asp" title="Internship Programs in New Zealand">Internship Programs in New Zealand</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/student-visa-details-for-new-zealand.asp" title="Student Visa Details for New Zealand">Student Visa Details for New Zealand</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/study-expenses-financial-aid-in-new-zealand.asp" title="Study Expenses &amp; Financial Aid in New Zealand">Study Expenses &amp; Financial Aid in New Zealand</a></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <div flex fxLayout="row" class="cardRow">
            <mat-card >
                <mat-card-header>
                    <img mat-card-avatar src="assets/Canada-flag.jpg">
                    <mat-card-title>Study In Canada</mat-card-title>
                </mat-card-header>
                <img class="countryImg" mat-card-image src="assets/Canada.jpg">
                <mat-card-content>
                    <ul class="abroadList">
                        <li><a href="http://www.studyguideindia.com/Foreign-Universities/Canada.asp" title="Canada Universities">Canada Universities</a></li>
                        <li><a href="http://www.studyguideindia.com/b-schools/business-schools-canada.asp" title="Business Schools Canada">Business Schools Canada</a><a href="http://www.studyguideindia.com/Foreign-Universities/Canada.asp" title="Canada Universities"></a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/education-consultants-canada.asp" title="Education Consultants Canada">Education Consultants Canada</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/bachelors-programs-in-canada.asp" title="Bachelor's Programs in Canada">Bachelor's Programs in Canada</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/master-degree-programs-in-canada.asp" title="Master degree programs in Canada">Master degree programs in Canada</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/phd-programs-in-canada.asp" title="Phd programs in Canada">Phd programs in Canada</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/college-admission-procedures-in-canada.asp" title="College Admission Procedures in Canada">College Admission Procedures in Canada</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/education-system-in-canada.asp" title="Education System in Canada">Education System in Canada</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/internship-programs-in-canada.asp" title="Internship Programs in Canada">Internship Programs in Canada</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/student-visa-details-for-canada.asp" title="Student Visa Details for Canada">Student Visa Details for Canada</a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/study-expenses-financial-aid-in-canada.asp" title="Study Expenses &amp; Financial Aid in Canada">Study Expenses &amp; Financial Aid in Canada</a></li>
                    </ul>
                </mat-card-content>
            </mat-card>
            <mat-card >
                <mat-card-header>
                    <img mat-card-avatar src="assets/German-flag.jpg">
                    <mat-card-title>Study In Germany</mat-card-title>
                </mat-card-header>
                <img class="countryImg" mat-card-image src="assets/German.jpg">
                <mat-card-content>
                    <ul class="abroadList">
                        <li><a href="http://www.studyguideindia.com/Foreign-Universities/Germany.asp" title="German Universities">Germany  Universities</a></li>
                        <li><a href="http://www.studyguideindia.com/b-schools/business-schools-german.asp" title="Business Schools Germany">Business Schools Germany </a></li>
                        <li><a href="http://www.studyguideindia.com/Study-Abroad/education-consultants-germany.asp" title="Education Consultants Germany">Education Consultants Germany</a></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
</div>
