<div flex fxLayout="column" fxLayoutGap="20px">
    <div flex fxLayout="row" class="cardRow" fxLayoutGap="30px">
        <div flex="40">
            <mat-card class="site-card">
                <mat-card-header>
                    <h2 class="header">In School</h2>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="content">
                    <li><a href="/olympiad" title="Olympiad">Olympiad</a></li>
                    <li><a href="/scholarships" title="Scholarships">Scholarships</a></li>
                    <li><a href="/inSchool" title="In School">In School</a></li>
                    <li><a href="/10thFail" title="10th Fail">10th Fail</a></li>
                    <li><a href="/10thPass" title="10th Pass">10th Pass</a></li>
                    <li><a href="/11th12thFail" title="11th/12th Fail">11th/12th Fail</a></li>
                    <li><a href="/11th12thPass" title="11th/12th Pass">11th/12th Pass</a></li>
                    <li><a href="/11th12thDropout" title="11th/12th Dropout">11th/12th Dropout</a></li>
                </mat-card-content>
            </mat-card>
        </div>
        <div flex="40">
            <mat-card class="site-card">
                <mat-card-header>
                    <h2 class="header">After 9th</h2>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="content">
                    <li><a href="/olympiad" title="Olympiad">Olympiad</a></li>
                    <li><a href="/scholarships" title="Scholarships">Scholarships</a></li>
                    <li><a href="/inSchool" title="In School">In School</a></li>
                    <li><a href="/10thFail" title="10th Fail">10th Fail</a></li>
                    <li><a href="/10thPass" title="10th Pass">10th Pass</a></li>
                    <li><a href="/11th12thFail" title="11th/12th Fail">11th/12th Fail</a></li>
                    <li><a href="/11th12thPass" title="11th/12th Pass">11th/12th Pass</a></li>
                    <li><a href="/11th12thDropout" title="11th/12th Dropout">11th/12th Dropout</a></li>
                </mat-card-content>
            </mat-card>
        </div>
        <div flex="40">
            <mat-card class="site-card">
                <mat-card-header>
                    <h2 class="header">After 10th</h2>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="content">
                    <li><a href="/olympiad" title="Olympiad">Olympiad</a></li>
                    <li><a href="/scholarships" title="Scholarships">Scholarships</a></li>
                    <li><a href="/inSchool" title="In School">In School</a></li>
                    <li><a href="/10thFail" title="10th Fail">10th Fail</a></li>
                    <li><a href="/10thPass" title="10th Pass">10th Pass</a></li>
                    <li><a href="/11th12thFail" title="11th/12th Fail">11th/12th Fail</a></li>
                    <li><a href="/11th12thPass" title="11th/12th Pass">11th/12th Pass</a></li>
                    <li><a href="/11th12thDropout" title="11th/12th Dropout">11th/12th Dropout</a></li>
                </mat-card-content>
            </mat-card>
        </div>
        <div flex="40">
            <mat-card class="site-card">
                <mat-card-header>
                    <h2 class="header">After 11th</h2>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="content">
                    <li><a href="/olympiad" title="Olympiad">Olympiad</a></li>
                    <li><a href="/scholarships" title="Scholarships">Scholarships</a></li>
                    <li><a href="/inSchool" title="In School">In School</a></li>
                    <li><a href="/10thFail" title="10th Fail">10th Fail</a></li>
                    <li><a href="/10thPass" title="10th Pass">10th Pass</a></li>
                    <li><a href="/11th12thFail" title="11th/12th Fail">11th/12th Fail</a></li>
                    <li><a href="/11th12thPass" title="11th/12th Pass">11th/12th Pass</a></li>
                    <li><a href="/11th12thDropout" title="11th/12th Dropout">11th/12th Dropout</a></li>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div flex fxLayout="row" class="cardRow" fxLayoutGap="30px">
        <div flex="40">
            <mat-card class="site-card">
                <mat-card-header>
                    <h2 class="header">After 12th</h2>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="content">
                    <li><a href="/olympiad" title="Olympiad">Olympiad</a></li>
                    <li><a href="/scholarships" title="Scholarships">Scholarships</a></li>
                    <li><a href="/inSchool" title="In School">In School</a></li>
                    <li><a href="/10thFail" title="10th Fail">10th Fail</a></li>
                    <li><a href="/10thPass" title="10th Pass">10th Pass</a></li>
                    <li><a href="/11th12thFail" title="11th/12th Fail">11th/12th Fail</a></li>
                    <li><a href="/11th12thPass" title="11th/12th Pass">11th/12th Pass</a></li>
                    <li><a href="/11th12thDropout" title="11th/12th Dropout">11th/12th Dropout</a></li>
                </mat-card-content>
            </mat-card>
        </div>
        <div flex="40">
            <mat-card class="site-card">
                <mat-card-header>
                    <h2 class="header">In College</h2>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="content">
                    <li><a href="/olympiad" title="Olympiad">Olympiad</a></li>
                    <li><a href="/scholarships" title="Scholarships">Scholarships</a></li>
                    <li><a href="/inSchool" title="In School">In School</a></li>
                    <li><a href="/10thFail" title="10th Fail">10th Fail</a></li>
                    <li><a href="/10thPass" title="10th Pass">10th Pass</a></li>
                    <li><a href="/11th12thFail" title="11th/12th Fail">11th/12th Fail</a></li>
                    <li><a href="/11th12thPass" title="11th/12th Pass">11th/12th Pass</a></li>
                    <li><a href="/11th12thDropout" title="11th/12th Dropout">11th/12th Dropout</a></li>
                </mat-card-content>
            </mat-card>
        </div>
        <div flex="40">
            <mat-card class="site-card">
                <mat-card-header>
                    <h2 class="header">College Dropout</h2>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="content">
                    <li><a href="/olympiad" title="Olympiad">Olympiad</a></li>
                    <li><a href="/scholarships" title="Scholarships">Scholarships</a></li>
                    <li><a href="/inSchool" title="In School">In School</a></li>
                    <li><a href="/10thFail" title="10th Fail">10th Fail</a></li>
                    <li><a href="/10thPass" title="10th Pass">10th Pass</a></li>
                    <li><a href="/11th12thFail" title="11th/12th Fail">11th/12th Fail</a></li>
                    <li><a href="/11th12thPass" title="11th/12th Pass">11th/12th Pass</a></li>
                    <li><a href="/11th12thDropout" title="11th/12th Dropout">11th/12th Dropout</a></li>
                </mat-card-content>
            </mat-card>
        </div>
        <div flex="40">
            <mat-card class="site-card">
                <mat-card-header>
                    <h2 class="header">Workign Prefessional</h2>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="content">
                    <li><a href="/" title="Sports Opportunities">Sports Opportunities</a></li>
                    <li><a href="/" title="Competitions And Prizes">Competitions And Prizes</a></li>
                    <li><a href="/" title="Start a Side Business">Start a Side Business</a></li>
                    <li><a href="/" title="Courses to Improve Skills">Courses to Improve Skills</a></li>
                    <li><a href="/" title="Extra Curricular Activities">Extra Curricular Activities</a></li>
                    <li><a href="/" title="Change Career">Change Career</a></li>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- <div flex="40">
            <mat-card class="site-card">
                <mat-card-header>
                    <h2 class="header">Workign Prefessional</h2>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="content">
                    <li><a href="/olympiad" title="Olympiad">Olympiad</a></li>
                    <li><a href="/scholarships" title="Scholarships">Scholarships</a></li>
                    <li><a href="/inSchool" title="In School">In School</a></li>
                    <li><a href="/10thFail" title="10th Fail">10th Fail</a></li>
                    <li><a href="/10thPass" title="10th Pass">10th Pass</a></li>
                    <li><a href="/11th12thFail" title="11th/12th Fail">11th/12th Fail</a></li>
                    <li><a href="/11th12thPass" title="11th/12th Pass">11th/12th Pass</a></li>
                    <li><a href="/11th12thDropout" title="11th/12th Dropout">11th/12th Dropout</a></li>
                </mat-card-content>
            </mat-card>
        </div>

        <div flex="40">
            <mat-card class="site-card">
                <mat-card-header>
                    <h2 class="header">Workign Prefessional</h2>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="content">
                    <li><a href="/olympiad" title="Olympiad">Olympiad</a></li>
                    <li><a href="/scholarships" title="Scholarships">Scholarships</a></li>
                    <li><a href="/inSchool" title="In School">In School</a></li>
                    <li><a href="/10thFail" title="10th Fail">10th Fail</a></li>
                    <li><a href="/10thPass" title="10th Pass">10th Pass</a></li>
                    <li><a href="/11th12thFail" title="11th/12th Fail">11th/12th Fail</a></li>
                    <li><a href="/11th12thPass" title="11th/12th Pass">11th/12th Pass</a></li>
                    <li><a href="/11th12thDropout" title="11th/12th Dropout">11th/12th Dropout</a></li>
                </mat-card-content>
            </mat-card>
        </div> -->

    </div>

        <!-- <div flex="40"> -->
                <!-- <h3 class="header">Dashboard</h3>
            <ul class="ulist">
                <li><a href="/inSchool" title="In School">In School</a></li>
                <li><a href="/10thFail" title="10th Fail">10th Fail</a></li>
                <li><a href="/10thPass" title="10th Pass">10th Pass</a></li>
                <li><a href="/11th12thFail" title="11th/12th Fail">11th/12th Fail</a></li>
                <li><a href="/11th12thPass" title="11th/12th Pass">11th/12th Pass</a></li>
                <li><a href="/11th12thDropout" title="11th/12th Dropout">11th/12th Dropout</a></li>
                <li><a href="/collegeDropout" title="College Dropout">College Dropout</a></li>
                <li><a href="/workingProfessional" title="Working Professional">Working Professional</a></li>
                <li><a href="/studyAbroad" title="Study Abroad">Study Abroad</a></li>
                <li><a href="/careerTransitions" title="Career Transitions">Career Transitions</a></li>
                <li><a href="/educationLoans" title="Education Loans">Education Loans</a></li>
                <li><a href="/olympiad" title="Olympiad">Olympiad</a></li>
                <li><a href="/scholarships" title="Scholarships">Scholarships</a></li>
            </ul> -->
        <!-- </div> -->
        <!-- <div flex="30" fxLayout="column" fxLayoutGap="40px">
            <h3 class="header"><a href="/exams" title="exams">Exams</a></h3>
            <h3 class="header"><a href="/cources" title="Cources">Cources</a></h3>
            <h3 class="header"><a href="/newsfeeds" title="News Feed">News Feed</a></h3>
            <h3 class="header"><a href="/faq" title="FAQ">FAQ</a></h3>
            <h3 class="header"><a href="/sitemap" title="Site Map">Site Map</a></h3>
        </div>
        <div flex="30" fxLayout="column" fxLayoutGap="40px">
            <div flex="40">
                <h3 class="header"><a href="/login" title="login">Login</a></h3>
                <ul class="ulist">
                    <li><a href="/dashboard" title="Dashboard">Dashboard</a></li>
                    <li><a href="/profile" title="Profile">Profile</a></li>
                    <li><a href="/settings" title="Settings">Settings</a></li>
                </ul>
            </div>
            <h3 class="header"><a href="/signup" title="Sign Up">Sign Up</a></h3>
        </div>
        <div flex="30" fxLayout="column" fxLayoutGap="40px">
            <h3 class="header"><a href="/aboutus" title="About Us">About Us</a></h3>
            <h3 class="header"><a href="/workwithus" title="Work With Us">Work With Us</a></h3>
            <h3 class="header"><a href="/contactus" title="Contact Us">Contact Us</a></h3>
        </div> -->
</div>