<mat-expansion-panel expanded="true" class="examExpander">
    <mat-expansion-panel-header class="examExpanderHeader">
        <mat-panel-title >
            <div>
                Enterance Exams
            </div>     
        </mat-panel-title>
        <mat-panel-description> 
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <mat-sidenav-content class="examExpanderContent">
        <p>For law entrance examinations  in India the forthcoming  entrance exams are National Law School University (NLSIU) entrance test, Common  Law Admission Test, and LLM entrance exam for Aligarh  Muslim University.</p>
        <p>For MCA entrance examinations  in India are BIT Mesra  online MCA entrance test, MAH- MCA CET, West Bengal Joint Entrance Examination  for admission to MCA Courses - JECA, NIMCET, NIT- NIMCET, Thapar University MCA  Entrance Test, IM CAT, ISIT MCA Test and ICFAI MCA Test.</p>
        <p>For&nbsp;MBA entrance examinations&nbsp;there are mainly CAT,  GMAT, ICFAI, JMET, MAT, XAT entrance test.</p>
        <p>For&nbsp;MBA entrance examinations&nbsp;there are mainly CAT,  GMAT, ICFAI, JMET, MAT, XAT entrance test.</p>    
        <p>For&nbsp;MBA entrance examinations&nbsp;there are mainly CAT,  GMAT, ICFAI, JMET, MAT, XAT entrance test.</p>    
        <p>Apart from these there are plenty of entrance examinations for a  variety of themes that are conducted by different government as well as private  universities of India. Like the  majority of the MCA, engineering, B. Ed, medical, even&nbsp;MBA colleges in India&nbsp;are carry out different MBA  entrances for <a href="http://www.studyguideindia.com/Courses/Certification-Courses.asp" title="certification courses">certification courses</a> as well as diploma  management courses.</p>    
    </mat-sidenav-content>
</mat-expansion-panel>

<mat-expansion-panel expanded="true" class="examExpander">
    <mat-expansion-panel-header>
        <mat-panel-title >
            <div>
                Competitive Exams
            </div>     
        </mat-panel-title>
        <mat-panel-description> 
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>

    <mat-sidenav-content class="examExpanderContent">
        <div>Competitive Exams for professional schools</div>
        <ul class="PB6">
            <li>GMAT (Graduate Management Admission Test)</li>
            <li>GRE (Graduate Record Examination)</li>
            <li>GATE (Graduate Aptitude Test in Engineering)</li>
            <li>SAT (Scholastic Aptitude Test)</li>
            <li>TOEFL (Test of English as a Foreign Language)</li>
            <li>CAT (Common Admission Test)</li>
            <li>NET (National Eligibility Test)</li>
            </ul>
            <div class="subheading">Competitive Exams for Union Public Service  Commission </div>
            <ul class="PB6">
                <li>Civil Services IAS Exam </li>
                <li>Combined Defense Services Exams </li>
                <li>Combined Medical Services Exams </li>
                <li>Engineering Services Exam </li>
                <li>National Defense Academy Exam </li>
                <li>Indian Forest Services Exam </li>
            </ul>
            <div class="subheading">Competitive Exams for Staff Selection Commission  (SSC)</div>
            <ul class="PB6">
                <li>Assistants Grade Exam </li>
                <li>Stenographers Exam (grade C, D) </li>
                <li>Clerk’s Grade Exam </li>
                <li>Divisional Accountants Exam </li>
                <li>SSC Combined Matric Preliminary Exams </li>
            </ul>
            <div class="subheading">Competitive Exams for Defense</div>
            <ul class="PB6">
                <li>IAF Airman Exams </li>
                <li>Indian Navy Sailors Matric Entry Recruitment Exam </li>
                <li>Indian Navy Artificer Apprentices Exam </li>
                <li>Indian Army Soldiers MER Exam </li>
                <li>Indian Army Soldiers Clerks Exam </li>
                <li>Indian Army Soldiers General Duty Exams </li>
            </ul>
    </mat-sidenav-content>
</mat-expansion-panel>